.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    animation: fadeIn 150ms ease;
    background-color: var(--overlay-bg-color);
    inset: 0;
    z-index: 2;
}

.panel-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.panel {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0;
    border-radius: 17px;
    background: var(--dialog-bg-gradient);
    box-shadow: var(--dialog-box-shadow);
    backdrop-filter: blur(20px);
    overflow: scroll;
    scrollbar-width: none;
    animation: ZoomIn 300ms ease;
    outline: none;
}

.overlay-close {
    position: fixed;
    display: flex;
    justify-content: center;
    animation: fadeOut 200ms ease forwards;
    background-color: var(--overlay-bg-color);
    inset: 0;
    z-index: 2;
}

.panel-close {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0;
    border-radius: 17px;
    background: var(--dialog-bg-gradient);
    box-shadow: var(--dialog-box-shadow);
    backdrop-filter: blur(20px);
    animation: ZoomOut 200ms ease forwards;
    outline: none;
}

.close-button-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: right;
    margin: 0;
    z-index: 10;
}

.close-button-container > button {
    background-color: transparent;
    margin: 0;
    padding: 0 15px;
    outline: none;
    border: none;
    border-radius: 20px;
    
    color: var(--dialog-input-bg-color);
    font-family: var(--primary-font);
    font-size: 25px;
    font-weight: 800;
}

.error-boundary-message {
    color: rgb(255, 224, 88);
    padding: 30px;
    font-size: 24px;
    font-weight: 600;
    align-content: center;
}

.error-span {
    font-size: 35px;
}

@media (--sm) {
    .panel-container {
        flex: 1;
    }
    
}

@keyframes fadeIn {
    from { opacity: 0.3; }
    to   { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0.3; }
}

@keyframes ZoomIn {
    from { opacity: 0.3; transform: scale(0.9);}
    to   { opacity: 1; transform: scale(1);}
}

@keyframes ZoomOut {
    from { transform: scale(1);}
    to   { transform: scale(0.9);}
}