.task-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    margin: 0;
    height: calc(64vh + 50px);

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    overflow-x: visible;

    backdrop-filter: blur(25px);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 3px rgba(19, 19, 19, 0.5);
}

.no-task-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .no-task-image {
        width: 100px;
        opacity: .7;
    }

    .no-task-message {
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.7);
        text-align: center;
        align-self: center;
    }

    span {
        color: rgba(255, 255, 255, 0.7);
        font-size: 1.1rem;
    }
}

.task-list-table {
    display:grid;
    grid: auto-flow dense / 50% 50%;
    grid-auto-rows: min-content;
    height: 64vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #ffffff2f #f1f1f100;
    scroll-behavior: smooth;
    padding: 15px 0;
    margin: 0;
}

.task-list-item {
    list-style: none;
    display: inline;
    height: fit-content;
    padding: 5px 15px;
    border: 1px solid transparent;
    transition: background-color .3s;
}

.task-list-item:hover, .task-list-item:has(details[open]){
    background-color: rgba(177, 176, 176, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.summary-box {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 5px 0;
}

.task-content-container {
    margin: 0;
    padding: 0;
}

.glass-checkbox {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  user-select: none;
  color: #e2e8f0;
  font-family: system-ui, sans-serif;
  font-size: 15px;
  flex: .1;
}
.glass-checkbox input {
  display: none;
}
.glass-checkbox .checkmark {
  width: 30px;
  height: 30px;
  margin: 0 20px;
  border-radius: 10px;
  background: linear-gradient(to bottom right,
    rgba(253, 253, 253, 0.1) 10%,
    rgba(3, 3, 3, 0.1) 80%
    );
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 8px rgba(3, 3, 3, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.glass-checkbox .checkmark svg {
  width: 18px;
  height: 18px;
  stroke: #00f2fe;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Hover State */
.glass-checkbox:hover .checkmark {
  border-color: rgba(0, 242, 254, 0.6);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  scale: 1.1;
}

/* Checked State */
.glass-checkbox input:checked + .checkmark {
  background: linear-gradient(to bottom right,
    rgba(253, 253, 253, 0.1) 10%,
    rgba(3, 3, 3, 0.1) 80%
    );
  border-color: rgba(0, 242, 254, 0.6);
  box-shadow: 0 0 8px rgba(3, 3, 3, 0.3);
}
.glass-checkbox:hover input:checked + .checkmark {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}

.glass-checkbox input:checked + .checkmark svg {
  opacity: 1;
  transform: scale(1);
}

.task-name {
    flex: 1;
    padding: 0;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
    overflow-x: auto;
    overflow-wrap: break-word;
}
.task-details {
    padding: 0;
    margin: 0 5px 15px 85px;
    width: 75%;
    text-align: justify;
    color: rgb(179, 193, 208);
    overflow-x: auto;
    overflow-wrap: break-word;
}

.button {
    color: rgba(255, 255, 255, 0.7);
    background: transparent;
    border: none;
    outline: none;
    padding: 0 5px;
}

.delete-icon, .edit-icon {
    border: 1px solid transparent;
    transition: all .3s;
    padding: 4px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 30px;
}

.edit-icon {
    display: none;
}

.task-list-item:has(details[open]) .buttons-container button .edit-icon {
    display:inline-flex;
}

.delete-icon:hover, .edit-icon:hover  {
    color: rgba(255, 149, 149, 0.9);
    scale: 1.2;
    border: 1px solid rgba(255, 255, 255, 0.2);
    
    background: linear-gradient(to bottom right,
    rgba(253, 253, 253, 0.1) 10%,
    rgba(3, 3, 3, 0.1) 80%
    );
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.edit-icon:hover {
    color: rgba(129, 255, 129, 0.7);
}

.delete-icon:active, .edit-icon:active {
    scale: 1.1;
    border: 1px solid transparent;
    transition: all .1s;
}

.task-details div {
    :first-child {
        padding-top: 10px;
        margin: 0;
    }

    p {
        margin: 0;
        padding: 0;
    }

    ol, ul {
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;

        li {
            margin: 0 !important;
            padding: 0 !important;
            p {
                margin:0 !important;
                padding: 0 !important;
            }
        }
    }

}

@media (max-width: 1920px) {
    .task-list-table {
        grid: auto-flow dense / 100%;
        grid-auto-rows: min-content;
    }
}

@media (--sm) {
    .task-list-container {
        width: 95%;
        height: calc(80vh + 50px);
    }
    .task-list-table {
        height: 80vh;
        grid-auto-rows: min-content;
    }
}