@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.update-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
}

.disabled {
    position: relative;
}

.disabled::before {
    content:'';
    position: absolute;
    inset: 0;
    top: 50px;
    cursor: not-allowed;
    z-index: 3;
}

.update-logo-container {
    margin-bottom: 50px;
}

.update-logo {
    height: 45px;
}

.http-notif-container {
    top: 85px;
}

/*Dont Touch this */
.http-notif-message-failure {
    animation: fadeIn .3s ease-out;
    color: rgb(255, 88, 88);
    padding: 10px 20px;
    margin: 0;
    border-radius: 10px;
    background-color: rgba(46, 16, 16, 0.445);
}
.http-notif-message-success {
    animation: fadeIn .5s ease-out;
    color: rgb(12, 199, 90);
    padding: 10px 20px;
    margin: 0;
    border-radius: 10px;
    background-color: rgba(2, 53, 32, 0.767);
}

.button-group {
    display: flex;
    margin-top: 40px;
    justify-content:space-between;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(255, 255, 255, 0.7);
        border-radius: 7px;
        cursor: pointer;
        font-size: 17px;
        padding: 10px 15px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: linear-gradient(to bottom right,
            rgba(253, 253, 253, 0.1) 10%,
            rgba(3, 3, 3, 0.1) 80%
        );
        outline: none;
        transition: all .3s;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);

        span {
            display: flex;
            align-items: center;
        }

        .save-icon {
            margin-right: 8px;
        }
        .back-icon {
            margin-right: 7px;
        }
    }

    button:hover {
        scale: 1.1;
        color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0 15px rgba(0, 0, 0, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.4);
    }
    button:active {
        scale: 1;
        box-shadow: none;
        transition: all .1s;
    }
    button:disabled {
        color: rgba(255, 255, 255, 0.5);
        background: transparent;
        box-shadow: none;
        border: 1px solid rgba(255, 255, 255, 0.15);
    }
    .save-button {
        padding: 10px 20px;
    }
    .back-button {
        padding: 10px 15px 10px 10px;
    }


}

.loader {
  --color-1: rgba(255, 255, 255, 0.5);
  --size: .32px;
  width: calc(48 * var(--size));
  height: calc(48 * var(--size));
  border: calc(8 * var(--size)) solid var(--color-1);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.multiple-text-input-container:has(.text-input:focus) {
    box-shadow: var(--dialog-input-focus-shadow);
}

.multiple-text-input-container {
    border: none;
    border-radius: 21px;
}
.text-input-top,
.text-input-top:focus,
.text-input-bottom,
.text-input-bottom:focus {
    border: none;
    box-shadow: none;
}

.text-input-top {
    border-radius: 0px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    padding-bottom: 5px;
}

.text-input-bottom {
    border-radius: 0;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    padding-top: 5px;
}

.multiple-text-input-container:has(.text-input:focus) {
    box-shadow: var(--dialog-input-focus-shadow);
}
.text-input {
    padding-right: 21px; 
}

@media (--sm) {
    .update-root {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}